/Animation.htm
/anuj.html
/Article.htm
/Block_me_block.htm
/box_model.htm
/bubblegame.html
/bulb.html
/button.htm
/button.html
/class.htm
/clock.htm
/code with.htm
/combinator.htm
/css intro.htm
/css3.htm
/css4.htm
/css5.htm
/css6.htm
/CSSintro2.htm
/css_navigation.htm
/css_pic.htm
/Divplay.htm
/ex.htm
/ex2.htm
/ex3.htm
/f11.htm
/f12.htm
/f13.htm
/f14.htm
/f15.htm
/f16.htm
/f17.htm
/f18.htm
/f2.htm
/f3.html
/flex2.html
/flexbox.htm
/floats.htm
/food.html
/fuction_in_js.html
/global.css
/gpt.html
/grid_model.htm
/grocify.html
/gsap.html
/gsap.js
/hackerrank.html
/Home.htm
/Home2.htm
/home3.htm
/hover.htm
/Hover.html
/image
/inline css.htm
/javascript.htm
/javascript3.htm
/javascript_2.htm
/js1main.htm
/js2main.html
/JS_fun.htm
/loader.htm
/locomotive.css
/matix.htm
/Media_query.htm
/mera_amazon.htm
/mouse.html
/nav-bar2.html
/nav-bar3.html
/nav2.htm
/Navbar-mast.html
/new.html
/object.html
/package-lock.json
/package.json
/pic.html
/postcss.config.js
/practise1.html
/practise2.html
/practise3.html
/practise4.html
/practise5.html
/project.html
/promise.html
/query-selector.html
/Reg_form.htm
/Reg_form2.htm
/responsive.html
/rock_paper_copy.html
/rock_paper_sciss.html
/rotate.htm
/Sasta_Amazon.htm
/script.js
/script2.js
/simon_practise.html
/style.css
/style.html
/style2.css
/style3.css
/super_simple.html
/table.htm
/Table_2.htm
/tailwind.config.js
/tailwind.html
/tailwind_pro.html
/timout.interval.html
/Tomi.htm
/traffic.htm
/transform.htm
/transition.htm
/urban.html
/user.html
/Visiting.htm
/website.html
/wrap.html